@model LegalTrucking.IntakePlus.Web.Ui.Models.account.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui raised very padded text container" style="margin-right:5%;">
  <h3 class="ui header centered">Legal Trucking Login Form</h3>
    <form  asp-action="Login" method="post" class="ui large form validate-me">

        <div class="ui stack segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input id="UserName" asp-for="UserName" placeholder="UserName" />
                    <span asp-validation-for="UserName" style="color:red;"></span>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input id="Password" type="password" asp-for="Password" placeholder="Password" />
                    <span asp-validation-for="Password" style="color:red;"></span>
                </div>
            </div>

            <div>
                <button id="SubmitButton" class="ui blue button">
                    <i class="lock icon"></i>
                    LOGIN
                </button>
                <button class="ui green button" asp-controller="Account" asp-action="Register">
                    <i class="lock icon"></i>
                    REGISTER
                </button>
            </div>

            <div asp-validation-summary="ModelOnly" class="ui error" style="color:red;"></div>

        </div>
        @Html.AntiForgeryToken()
    </form>
</div>