@model LegalTrucking.IntakePlus.Web.Ui.Models.account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui raised very padded text container" style="margin-right:5%;">
    <h3 class="ui header centered">Legal Trucking Registration Form</h3>
    <form asp-controller="Account" asp-action="Register" method="post" class="ui large form validate-me" role="form">

        <div class="ui stack segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="UserName" placeholder="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input asp-for="Password" type="password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="envelope open icon"></i>
                    <input asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div>
                <button class="ui blue button">
                    <i class="lock icon"></i>
                    REGISTER
                </button>
                <button class="ui green button" asp-controller="Account" asp-action="Return">
                    <i class="lock icon"></i>
                    BACK TO LOGIN
                </button>
            </div>

            <div asp-validation-summary="ModelOnly" class="ui error" style="color:red;"></div>

        </div>
        @Html.AntiForgeryToken()
    </form>
</div>
